<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
   <header>
    <h1>Premium Baking Ingredients and Tools</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/">Products</a>
        <a href="/contact">Contact</a>
        <a href="/about" class="active"> About Us</a>
    </nav>
   </header> 

   <main>
    <section class="about-us">
        <h2>About Us</h2>
        <p>Welcome to <strong>BakeEssentials</strong> - your one-stop destination for all your baking needs</p>
        <p>
            At BakeEssentials, we are passionate about empowering bakers, whether you're a professional
            pastry chef or a home baker exploring new recipes. Our mission is to provide high-quality, reliable
            baking materials and tools that make journey both exciting and enjoyable.
        </p>
        <p>
            From prenium Ingredients to durable bakeware and innovative decoration tools, we've curated range
            of products to suit every baking style and skill level. With BakeEssentials, you can find Everything
            you need to turn your creative visions into delicious masterpieces.
        </p>
        <p>
            We are committed to customer satisfaction, fast delivery, and competitive pricing. Let us help
            you make your dreams come true!
        </p>
    </section>
   </main>

   <footer>
    <p>&copy; 2024 BakeEssentials. All Rights Reserved.</p>
   </footer>
</body>
</html>